
.invoice-container{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    height: 20rem;
    flex-wrap: nowrap;
}

.invoice-items{
    flex: 0 0 auto;
    width: 250px;
}

.invoice-container::-webkit-scrollbar{
  display: none;
}

.imgwidth{
    height: 195px;
}