.cardwidth{
    flex-basis: 23%;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
    overflow: hidden;
    position: relative;
}
.card img{
    overflow: hidden;
}

.img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:  rgba(0,15,152,0.3);
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70%;
    opacity: 0;
    transition: 0.3s;
    font-size: 20px;
    font-weight: 700;
}

.card:hover .img-overlay{
    opacity: 1;
    padding-top:10% ;
}