* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pointer {
    cursor: pointer;
}

.sidebar .nav-item-wrapper .nav-link-icon svg {
    width: 13px;
}

.Huzaifa_Date .react-datepicker-wrapper {
    width: 100%;
}

.HuzaifaNav.navbar.navbar-top {
    padding-right: 2.5rem;
}

.HuzaifaNav .theme-control-toggle .theme-control-toggle-label svg {
    width: 16px;
    height: 16px;
}

.HuzaifaNav.navbar-top .navbar-logo {
    width: 15.875rem;
}

.HuzaifaNav.navbar-top .navbar-brand {
    margin-left: .4rem;
}

.DecreseMargin p {
    margin-bottom: 0px;
}

.IConColorchange button i {
    font-size: 16px;
    color: #8a94ad;
}

.ImageSize svg {
    width: 100%;
}


.AllabsAssets {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
}

.custom-scroll {
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* Chrome, Edge, Safari */
.custom-scroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
    /* hide track background */
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    /* only thumb visible */
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
    /* hover effect */
}


.filterLinks {
    /* color: #99a1b7; */
    color: #3874ff;
    font-weight: 700;
    font-size: 0.8rem;
    cursor: pointer;
}

.ColorChangeFilterLink {
    color: var(--phoenix-primary);
}

.flatpickr-calendar {
    box-shadow: 0 8px 24px rgba(62, 67, 73, 0.16);
    border-radius: 16px;
    border: none;
    font-family: inherit;
}

.flatpickr-weekday {
    color: #818080;
    font-weight: 500;
}

.flatpickr-day.weekend {
    color: #ef9800;
}

.flatpickr-day.selected,
.flatpickr-day.today {
    background: #2563eb;
    color: #fff;
    border-radius: 100%;
}

.flatpickr-months {
    font-size: 18px;
}

.flatpickr-time {
    font-size: 16px;
}

/* Default (unsorted) ⇅ */
th.sort::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f0dc";
    /* fa-sort */
    margin-left: 6px;
    font-size: 0.6rem;
    color: #31374a;
}

/* Sorted ascending ▲ */
th.sort.asc::after {
    content: "\f0de";
    /* fa-sort-up */
    color: #31374a;
}

/* Sorted descending ▼ */
th.sort.desc::after {
    content: "\f0dd";
    /* fa-sort-down */
    color: #31374a;
}

.flatpickr-calendar {
    box-shadow: 0 8px 24px rgba(62, 67, 73, 0.16);
    border-radius: 16px;
    border: none;
    font-family: inherit;
}

.flatpickr-weekday {
    color: #818080;
    font-weight: 500;
}

.flatpickr-day.weekend {
    color: #ef9800;
}

.flatpickr-day.selected,
.flatpickr-day.today {
    background: #2563eb;
    color: #fff;
    border-radius: 100%;
}

.flatpickr-months {
    font-size: 18px;
}

.flatpickr-time {
    font-size: 16px;
}

.ColorChangeFilterLink {
    color: var(--phoenix-primary);
}

.MainRoleAccessselect {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px;
}

/* business erp page  */
.cardwidth {
    flex-basis: 23%;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
    overflow: hidden;
    position: relative;
}

.card img {
    overflow: hidden;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 15, 152, 0.3);
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70%;
    opacity: 0;
    transition: 0.3s;
    font-size: 20px;
    font-weight: 700;
}

.card:hover .img-overlay {
    opacity: 1;
    padding-top: 10%;
}

/* pos Css  */
.ttop {
    height: 217px;
    width: auto !important;
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid #ccc !important;
}

.cardt {
    font-size: 12px;
}

.item-counter {
    position: absolute;
    bottom: 145px;
    right: 15px;
    cursor: pointer;
    background: #fff;
    padding: 6px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.add {
    position: absolute;
    bottom: 145px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
    width: 35px;
}

.search {
    padding-left: 45px;
}

.search-box-icon {
    position: absolute;
    top: 10px;
    left: 20px;
    color: #8a94ad;

    font-size: 0.8rem;
}

.dot {
    min-width: 8px;
    min-height: 8px;
    border-radius: 50%;
    background-color: tomato;
    position: absolute;
    top: -4px;
    right: -2px;
}

.card-info {
    cursor: pointer;
}


.invoice-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    height: 20rem;
    flex-wrap: nowrap;
}

.invoice-items {
    flex: 0 0 auto;
    width: 250px;
}

.invoice-container::-webkit-scrollbar {
    display: none;
}

.imgwidth {
    height: 195px;
}

@media print {

    @page {
        size: A4 portrait;
        margin: 1cm;
    }

    /* Reset background and padding for the printout */
    body,
    .card,
    .content {
        background: none;
        padding: 0;
        margin: 0;
        box-shadow: none;
    }

    .NewColorChange {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .PrintSize {
        padding: 0px !important;
    }

    .PrintSizeH2 {
        margin-bottom: 5px !important;
        font-size: 26px !important;
    }

    .PrintSearchPadding {
        padding-left: 5px !important;
    }

    .PrintWidthDropdown {
        margin-top: 5px !important;
        margin-bottom: 5px !important;
        width: 50% !important;
    }

    .PrintIconDisplay {
        display: none;
    }

    .PrintDnone {
        display: none !important;
    }

    .footer {
        display: none;
    }

    .HuzaifaNav {
        display: none;
    }
}

@media (max-width: 280px) {}

@media (max-width: 540px) {
    .HuzaifaNav.navbar-top .navbar-logo {
        width: unset;
    }

    .navbar-expand .navbar-toggler {
        display: unset;
    }

    .navbar-vertical .navbar-vertical-footer {
        display: none !important;
    }

    .HuzaifaNav.navbar.navbar-top {
        padding: 0 1.5rem;
    }

    .navbar-vertical.navbar-expand-lg .navbar-vertical-content .navbar-nav .nav-link {
        margin-left: unset !important;
        margin-right: unset !important;
        padding-left: 1.5rem !important;
    }

    .navbar-vertical .navbar-vertical-content .navbar-nav .nav-link.dropdown-indicator {
        padding-left: .75rem !important;
    }

    .navbar-vertical .navbar-vertical-content .navbar-nav .nav .nav-link {
        padding: .25rem .5rem;
        padding-left: 3.125rem !important;
    }

    .AllabsAssets {
        padding-top: 20px;
    }

    .DropDownForMobileDevice {
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        gap: 0px;
    }

    .marginforsmalldevice {
        margin-bottom: 70px;
    }

    .PAGINATIONS ul li .page-link {
        padding: 7px 9px;
    }

    .MainRemovePaddingwidth {
        width: 100%;
    }

    .NewColorChange.phoenix-toolbar {
        justify-content: center;
    }

}

@media (max-width: 480px) {
    .AllabsAssets {
        display: flex;
        flex-direction: column;
        align-items: start;
        flex-wrap: wrap;
        gap: 10px;
        padding-top: 20px;
    }

    .Huzaifasearch-box {
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .navbar-expand .navbar-toggler {
        display: unset;
    }

    .navbar-vertical .navbar-vertical-footer {
        display: none !important;
    }

    .HuzaifaNav.navbar.navbar-top {
        padding: 0 1.5rem;
    }

    .navbar-vertical.navbar-expand-lg .navbar-vertical-content .navbar-nav .nav-link {
        margin-left: unset !important;
        margin-right: unset !important;
        padding-left: 1.5rem !important;
    }

    .navbar-vertical .navbar-vertical-content .navbar-nav .nav-link.dropdown-indicator {
        padding-left: .75rem !important;
    }

    .navbar-vertical .navbar-vertical-content .navbar-nav .nav .nav-link {
        padding: .25rem .5rem;
        padding-left: 3.125rem !important;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-expand .navbar-toggler {
        display: unset;
    }

    .navbar-vertical .navbar-vertical-footer {
        display: none !important;
    }

    .HuzaifaNav.navbar.navbar-top {
        padding: 0 1.5rem;
    }

    .navbar-vertical.navbar-expand-lg .navbar-vertical-content .navbar-nav .nav-link {
        margin-left: unset !important;
        margin-right: unset !important;
        padding-left: 1.5rem !important;
    }

    .navbar-vertical .navbar-vertical-content .navbar-nav .nav-link.dropdown-indicator {
        padding-left: .75rem !important;
    }

    .navbar-vertical .navbar-vertical-content .navbar-nav .nav .nav-link {
        padding: .25rem .5rem;
        padding-left: 3.125rem !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) and (max-width: 1919px) {}

@media (min-width: 1920px) {}


@media(max-width:786px) {
    .ttop {
        height: 148px;
    }
}