* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pointer {
    cursor: pointer;
}

.sidebar .nav-item-wrapper .nav-link-icon svg {
    width: 16px;
}

.Huzaifa_Date .react-datepicker-wrapper {
    width: 100%;
}

.HuzaifaNav.navbar.navbar-top {
    padding-right: 2.5rem;
}

.HuzaifaNav .theme-control-toggle .theme-control-toggle-label svg {
    width: 16px;
    height: 16px;
}

.HuzaifaNav.navbar-top .navbar-logo {
    width: 15.875rem;
}

.HuzaifaNav.navbar-top .navbar-brand {
    margin-left: .4rem;
}

@media (max-width: 280px) {}

@media (max-width: 540px) {
    .HuzaifaNav.navbar-top .navbar-logo {
        width: unset;
    }

    .navbar-expand .navbar-toggler {
        display: unset;
    }

    .navbar-vertical .navbar-vertical-footer {
        display: none !important;
    }

    .HuzaifaNav.navbar.navbar-top {
        padding: 0 1.5rem;
    }

    .navbar-vertical.navbar-expand-lg .navbar-vertical-content .navbar-nav .nav-link {
        margin-left: unset !important;
        margin-right: unset !important;
        padding-left: 1.5rem !important;
    }

    .navbar-vertical .navbar-vertical-content .navbar-nav .nav-link.dropdown-indicator {
        padding-left: .75rem !important;
    }

    .navbar-vertical .navbar-vertical-content .navbar-nav .nav .nav-link {
        padding: .25rem .5rem;
        padding-left: 3.125rem !important;
    }

}

@media (max-width: 480px) {}

@media (min-width: 481px) and (max-width: 767px) {
    .navbar-expand .navbar-toggler {
        display: unset;
    }

    .navbar-vertical .navbar-vertical-footer {
        display: none !important;
    }

    .HuzaifaNav.navbar.navbar-top {
        padding: 0 1.5rem;
    }

    .navbar-vertical.navbar-expand-lg .navbar-vertical-content .navbar-nav .nav-link {
        margin-left: unset !important;
        margin-right: unset !important;
        padding-left: 1.5rem !important;
    }

    .navbar-vertical .navbar-vertical-content .navbar-nav .nav-link.dropdown-indicator {
        padding-left: .75rem !important;
    }

    .navbar-vertical .navbar-vertical-content .navbar-nav .nav .nav-link {
        padding: .25rem .5rem;
        padding-left: 3.125rem !important;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-expand .navbar-toggler {
        display: unset;
    }

    .navbar-vertical .navbar-vertical-footer {
        display: none !important;
    }

    .HuzaifaNav.navbar.navbar-top {
        padding: 0 1.5rem;
    }

    .navbar-vertical.navbar-expand-lg .navbar-vertical-content .navbar-nav .nav-link {
        margin-left: unset !important;
        margin-right: unset !important;
        padding-left: 1.5rem !important;
    }

    .navbar-vertical .navbar-vertical-content .navbar-nav .nav-link.dropdown-indicator {
        padding-left: .75rem !important;
    }

    .navbar-vertical .navbar-vertical-content .navbar-nav .nav .nav-link {
        padding: .25rem .5rem;
        padding-left: 3.125rem !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) and (max-width: 1919px) {}

@media (min-width: 1920px) {}

/* scrollbar  */
/* Hide scrollbar but keep scroll functionality */
.custom-scroll {
    overflow-y: auto;
    /* still scrollable */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.custom-scroll::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.filterLinks {
    /* color: #99a1b7; */
    color: #3874ff;
    font-weight: 700;
    font-size: 0.8rem;
    cursor: pointer;
}

.ColorChangeFilterLink {
    color: var(--phoenix-primary);
}

.flatpickr-calendar {
    box-shadow: 0 8px 24px rgba(62, 67, 73, 0.16);
    border-radius: 16px;
    border: none;
    font-family: inherit;
}

.flatpickr-weekday {
    color: #818080;
    font-weight: 500;
}

.flatpickr-day.weekend {
    color: #ef9800;
}

.flatpickr-day.selected,
.flatpickr-day.today {
    background: #2563eb;
    color: #fff;
    border-radius: 100%;
}

.flatpickr-months {
    font-size: 18px;
}

.flatpickr-time {
    font-size: 16px;
}

/* Default (unsorted) ⇅ */
th.sort::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f0dc";
    /* fa-sort */
    margin-left: 6px;
    font-size: 0.6rem;
    color: #31374a;
}

/* Sorted ascending ▲ */
th.sort.asc::after {
    content: "\f0de";
    /* fa-sort-up */
    color: #31374a;
}

/* Sorted descending ▼ */
th.sort.desc::after {
    content: "\f0dd";
    /* fa-sort-down */
    color: #31374a;
}

.flatpickr-calendar {
    box-shadow: 0 8px 24px rgba(62, 67, 73, 0.16);
    border-radius: 16px;
    border: none;
    font-family: inherit;
}

.flatpickr-weekday {
    color: #818080;
    font-weight: 500;
}

.flatpickr-day.weekend {
    color: #ef9800;
}

.flatpickr-day.selected,
.flatpickr-day.today {
    background: #2563eb;
    color: #fff;
    border-radius: 100%;
}

.flatpickr-months {
    font-size: 18px;
}

.flatpickr-time {
    font-size: 16px;
}

.ColorChangeFilterLink {
    color: var(--phoenix-primary);
}

.MainRoleAccessselect {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px;
}